extends layout.pug

block content
  if user
    p Welcome back #{user}
    p
      a(href='/logout') Log Out
  else 
    p Hello stranger
    p
      a(href='/signup') Sign Up
    p
      a(href='/login') Log In
